
<html>
<head>
<title> Hello {{ name }}! </title>
<script type="text/javascript"  src="/extra2/common/public/js/jquery-1.9.1.js"> </script>
<script type="text/javascript"  src="/extra2/patch4remal/public/4tpl-admin.js"> </script> 
</head>

<body>

<h2> Hello , this is my Admin Panel ! </h2>
<div id="wrap">
<p> This is p </p>

</div>


</body>
</html>

