
<html>
<head>
<title>   Hello {{ name }}!  </title>

<script type="text/javascript"  src="/extra2/common/public/js/jquery-1.9.1.js"> </script>
<script type="text/javascript"  src="/extra2/common/public/4tpl-front.js"> </script> 
<!--
<script type="text/javascript"  src="/extra/public/js/lightbox-2.6.min.js"> </script>
<link rel="stylesheet" type="text/css"  href="/extra/public/css/lightbox.css"/>
-->

</head>

<body>

<h2> Hello , this is my Front Panel ! </h2>
<div id="wrap">


</div>

</br>
<div>
<p>   Hello , seperate ============================   </p>
</div>
<div class="wrap2">

<a class="lb" href="https://lh3.googleusercontent.com/-kSX_nHBm5ik/VXUNT3icHgE/AAAAAAAAAKk/xJ62xX9p0CY/2015060707.jpg"> <img src="https://lh3.googleusercontent.com/-kSX_nHBm5ik/VXUNT3icHgE/AAAAAAAAAKk/xJ62xX9p0CY/2015060707.jpg" width=200 /></a>
</div>

</html>
